html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#game-field {
    position: relative;
    border: 3px solid red;
    width: 100%;
    height: 600px;
    cursor: none;
    overflow: hidden;
}

#crosshair {
    position: absolute;
    width: 50px;
    height: 50px;
    content: url("../img/crosshair2.png");
    /*background-color: black;*/
    /*border-radius: 10px;*/
}

#flying-nakov-templates-wrapper {
    display: none;
}

#points-heading {
    text-align: center;
}

.container {
    width: 1000px;
    margin: auto;
    padding-top: 50px;
}

.flying-nakov {
    position: absolute;
}

.nakov {
    width: 100px;
    height: 100px;
    background-image: url("../img/Svetlin-Nakov-photo.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid red;
}

.hidden {
    visibility: hidden;
}