#game-field {
    position: relative;
    border: 3px solid red;
    width: 100%;
    height: 600px;
}

#crosshair {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
}

.container {
    width: 1000px;
    margin: auto;
}